# Copy this file to .env and set your values
JWT_SECRET=bXlTZWNyZXRLZXlGb3JFZHVDb21tZXJjZUFwcGxpY2F0aW9u
DB_PASSWORD=yourpassword
ZIPKIN_URL=http://localhost:9411/api/v2/spans
CONFIG_GIT_URI=https://github.com/YOUR_USERNAME/educommerce-config
